<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%# <p>Hii <%= Sadique %></P>
    <h4>Welcome to Zomato web-app</h4>
    <p>
      You have successfully signed up to  Zomato
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>The Zomato Team</p>
  </body>
</html>
