<div id="<%= dom_id restaurent %>">
  <p>
    <strong>Name:</strong>
    <%= restaurent.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= restaurent.place %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= restaurent.status %>
  </p>
</div>
