<h1>Editing restaurent</h1>

<%= render "form", restaurent: @restaurent %><br>

<div>
  <%= link_to "Show this restaurent", @restaurent %> |
  <%= link_to "Back to restaurents", restaurents_path %>
</div>
