
<h1>Restaurents</h1>

<div id="restaurents">
  <% @restaurents.each do |restaurent| %>
    <%= render restaurent %>
    <p>
      <%= link_to "Show this restaurent", restaurent %>
    </p>
  <% end %>
</div>

<% if current_user.type == 'Owner'%>
<%= link_to "New restaurent", new_restaurent_path %>
<% end%>

