<div id="<%= dom_id order %>">
  <p>
    <strong>Name: &nbsp</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Shipping address: &nbsp</strong>
    <%= order.shipping_address %>
  </p>

</div>
