<center>

<h1>Cart Items</h1>

<div id="Your Cart">
  <% @carts.each do |cart| %>
    <%= render cart.dish %>
      <div class="restaurent-status">Quantity <%= cart.quantity %></div>
      <%= button_to "remove item", cart_path(cart), method: :delete %>
  </br>
  <% end %>
</div>

<%= link_to "Back to Restaurent", root_path %>
</center>