<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hii <%= @order.name %></P>
    <h4>Order created successfully</h4> 
    <p>Thanks for ordering from Zomato!</p>
    <p>The Zomato Team</p>
  </body>
</html>